h1{
    text-align:center;
  }
  p{
    text-align:center;
  }
  .img-div{
    display:block;
    max-width:80%;
    text-align:center;
    background-color:rgb(237, 237, 237);
    padding:10px 100px;
    margin:auto;
  }
  img{
   display:block;
   max-width:100%;
   justify-content:center;
   margin:auto;
   padding:0;
  }
  figcaption{
    padding:20px 0;
    padding-bottom:0;
  }
  body{
    background-color:rgb(85, 119, 142);
  }
  li{
    font-size:18px;
    padding:10px;
    margin:auto;
    
  }
  ul{
    max-width:48%;
    margin: 0 auto;
  
  }
  h2{
    text-align:center;
  }
  span{
    font-size:20px;
    font-weight:bold;
  }
  .Summary{
    max-width:100%;
    text-align:center;
    font-weight:900;
    font-size:15px;
  }
