h1{
    text-align:center;
  }
  p{
   text-align:center;
   color:dark;
  }
  fieldset#checkbox{
      padding: auto;
      margin: auto;
  
    }
  body{
    background-color:rgb(44, 81, 79);
    color:white;
    font-family: "Times New Roman", Times, serif;
  }
  fieldset{
    border:0;
    margin-top:-2px;
  }
  
  .data{
    margin-bottom:15px;
    margin-top:5px;
    height:30px;
  }
  .forum{
    background-color:rgb(25, 95, 103);
    margin:auto;
    max-width:500px;
    padding:20px;
    border-radius:5px;
  }
  select{
    width:100%;
    height:30px;
    border-radius: 5px;
    margin-top:5px;
    margin-bottom:0px;
  }
  input{
    width:100%;
    border-radius: 5px;
    border:20px;
    
  }
  input[type="checkbox"]{
    display:inline-block;
    margin:5px 8px;
    width:10px;
    vertical-align:middle;
    
  }
  input[type="radio"]{
    display:inline-block;
    margin:3px 8px;
    width:10px;
    vertical-align:middle;
  }
  .item{
    display:block;
  }
  .bio{
    display:block;
    font-size:20px;
  }
  textarea{
    width:100%;
    height:10%;
    margin-bottom:15px;
  }
  input[type="submit"]{
   
    border-radius:3px;
    width:100%;
    height:35px;
    color:white;
    background-color:rgb(14, 39, 164);
  }